<link rel="stylesheet" href="./stylesheets/signupyourself.css" />

{{!-- <div class="askauth">
<a href="/login">Log into existing account</a>
<span>or</span>
<a href="/signup">Sign up now</a>
</div> --}}

<div id="btn">
<div>
  <form action ="/signup" method="GET">
  <button class="signup">Sign up now</button>
  </form>
</div>

<div>
  <form action ="/login" method="GET">
  <button class="login">Log into existing account</button>
  </form>
</div>
</div>