<link rel="stylesheet" href="./stylesheets/login.css" />

  <div class="login-page">
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
    
    <div class="form-control">
      <input type="email" id="Email" name="email" required/>
      <label for="Email">Email</label>
    </div>
    
    <div class="form-control">
      <input type="password" id="Password" name="password" required/>
      <label for="Password">Password</label>
    </div>
    
    <button>Submit</button>
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    </form>
  </div>
  </div>
