<link rel="stylesheet" href="./stylesheets/index.css" />


{{!-- ////////////////////////////////////////////////
///////////////////version 1///////////////////
////////////////////////////////////////////// --}}

{{!-- <h1 class= "welcome">Welcome to {{title}}</h1>
<img src="/images/homepage.jpeg">
<p class= "mantra">Your life get only better when you do</p> --}}




{{!-- ////////////////////////////////////////////////
///////////////////version 2///////////////////
////////////////////////////////////////////// --}}

<video src="/videos/homepage-video.mp4" id="video" autoplay="true" loop="true"></video>
<h1 class= "welcome">Welcome to {{title}}</h1>
<p class= "mantra">Your life get only better when you do</p>