
 <link rel="stylesheet" href="./stylesheets/index.css" />
<h1 class= "welcome">Welcome to {{title}}</h1>
<img src="/images/homepage.jpeg">
<p class= "mantra">Your life get only better when you do</p>
