<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./stylesheets/mainstyle.css" />
</head>
<body>
  <nav>
      <ul class= "navigation">
        <li>
          <img src="/images/DOOSHA1.jpg">
          <div id="links-nav-left">
          <a href="/">Home</a>
          <a href="/homearticles">Articles</a>
          <a href="/homevideos">Videos</a>
          </div>
        </li>
        </ul>
        <ul class='auth'>
        <li>
          {{#if user}}
              <a id="logout-form" href="/logout">Logout</a>
              {{!-- <span> | </span> --}}
              <a id="userprofile" href="/userProfile">My Profile</a>
          {{else}}
            <a href="/signup">Signup</a>
            {{!-- <span> | </span> --}}
            <a href="/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </nav>
  {{{body}}}
  <script src="/javascripts/script.js"></script>
    <footer>
    <p>©2008-2021 Doosha, Inc. All Rights Reserved. doosha® is a registered trademark of Doosha, Inc. and is registered with the U.S. Patent and Trademark Office.</p>
</footer>
</body>
</html>