<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./stylesheets/mainstyle.css" />
</head>
<body>
  <nav>
      <ul class= "navigation">
        <li>
          <p><a href="/">Home</a></p>
          <p><a href="/homearticles">Articles</a></p>
          <p><a href="/homevideos">Videos</a></p>
        </li>
        </ul>
        <ul class='auth'>
        <li>
          {{#if user}}
              <a id="logout-form" href="/logout">Logout</a> <span> | </span>
              <a id="userProfile" href="/userProfile">My profile</a>
          {{else}}
            <a href="/signup">Signup</a> <span> | </span>
            <a href="/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>