<link rel="stylesheet" href="./stylesheets/articleform.css" />

<div class="articleform-page">
  <div class="container">
    <h2>Post my article</h2>
      <form action="/homearticles" method="POST" enctype="multipart/form-data">
    
    <div class="form-control">
      <input type="text" id="input-title" name="title" required/>
      <label for="input-title">Title</label>
    </div>

    <div class="form-control">
      <input type="text" id="input-text" name="text" required/>
      <label for="input-text">Text</label>
    </div>

    <div class="form-control">
      <input type="texte" id="input-date" name="date" required/>
      <label for="input-date">Date</label>
    </div>

    <div class="form-control">
      <input type="file" id="input-image" name="image" class="your-picture" required/>
      <label for="input-image">Picture</label>
    </div>

    <button type="submit">Share with the community</button>
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    </form>
  </div>
  </div>