* {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 4em;
  font-family: "PT Serif", serif;
}
.article-image {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 17.5%;
  margin-right: auto;
  margin-top: 5%;
  width: 65vw;
  height: auto;
}
.article {
  outline: 3px;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 1.5em;
  margin-left: auto;
  columns: 2;
  font-size: 18px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.date {
  display: flex;
  align-items: center;
  justify-items: center;
  font-style: italic;
  margin-left: 50%;
  margin-right: 50%;
}
/* .identifiant {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 80px;
}
.identifiant p {
text-align: center;
}
.user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-top: 0.5%;
  border: 2px solid black;
} */
.identifiant {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 6%;
  margin-left: 2.5%;
}
.user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-top: 0.5%;
  border: 2px solid black;
  justify-content: space-between;
}
.identifiant p{
  padding: 10px;
}