* {
  margin: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: url(https://images.unsplash.com/photo-1527567018838-584d3468eb85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmxhY2t8ZW58MHx8MHx3aGl0ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  filter: blur(5px) opacity(45%);
}
.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
}
.confirmation p {
  font-size: 3em;
}
.delete {
  margin-top: 40%;
  height: 6em;
  width: 12em;
  border: solid 4px black;
  border-radius: 50px 50px;
  background-color: white;
  outline: none;
  transition: 0.4s ease;
  cursor: pointer;
}

.delete:hover {
  /* box-shadow: inset 0 0 0 30px #f19c79, 1px 1px 3px #333;
    transform: translateX(4px);
    color: #eee; */
  background-color: #f19c79;
  color: white;
  border: none;
}
