/** @format */
* {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
}
body{
  position: relative;
  min-height: 100vh;
}
nav img{
position:absolute;
top: 0%;
margin-left: 40%;
/* margin-right: 50%; */
width:20vw;
height:4.6vw;
display: flex;
justify-content:space-between ;
align-items: center;
}
nav{
position: relative;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 9vh;
  font-size: 19px;
  font-family: 'PT Serif', serif;
}
nav a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
nav a:hover{
  color:#f19c79;;
}
.navigation li{
  display: flex;
  margin-top: 20px;
}
.auth li{
  display: flex;
  margin-top: 20px;
}
.auth li:hover{
  color:#f19c79;
}
.auth {
  margin-right: 25px;
}
#links-nav-left {
  margin-left: 15px;
}
footer{
  background-color:black;
  position:absolute; /* pour mettre en position le footer parfaitement */
  bottom: 0;
  right:0;
  left:0;
  /* width: 100vw; */
  height: 10vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer p {
  color: white;
  font-size: 19px;
  font-family: 'PT Serif', serif;
  font-style: italic;
}