* {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 4em;
  font-family: "PT Serif", serif;
}
.video-text {
  outline: 3px;
  margin-top: 5%;
  line-height: 1.5em;
  margin-left: auto;
  columns: 2;
  font-size: 18px;
}
.video-window {
  outline: 3px;
  margin-top: 5%;
  line-height: 1.5em;
  margin-left: auto;
  columns: 2;
  font-size: 18px;
}
.date {
  display: flex;
  align-items: center;
  font-style: italic;
  margin-left: 50%;
}
.content-detail{
  display: block;
  justify-content: space-around;
  align-items: center;
  margin-left: 30%;
}
.identifiant {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 150px;
  margin-top:5%;
  font-family: "PT Serif", serif;
}
.user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-top: 0.5%;
  border: 2px solid black;
  /* justify-content: space-between; */
}

.edit{
  text-decoration: none;
  color: black;
  font-family: "PT Serif", serif;
}

.edit:hover{
  color:#f19c79;
}
