/** @format */
* {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
}
h1 {
  display: grid;
  place-items: center;
  margin-top: 5vh;
  font-size: 10vh;
}
.upload {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: darkgrey;
  margin-top: 2%;
}
.upload:hover {
  color: #f19c79;
}
.photo-video {
  /* width: 50%; */
  height: 40%;
  width: 150px;
  border-radius: 50% 50%;
  margin-top: 5vh;
  border: 4px solid black;
}
.identifiant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-top: 0.5%;
  border: 2px solid black;
  justify-content: space-between;
}
.video-content {
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 2em;
}
.video-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.h3 {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: 700px;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #f19c79;
}
