@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "PT Serif", serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: url(../images/image-videoform.jpg);
  filter: blur(5px) opacity(25%);
}
.container {
  border: 1px solid #333;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 3px #333;
}
.form-control {
  position: relative;
  margin: 20px 0;
  width: 450px;
}
.form-control input {
  border: 0;
  border-bottom: 2px solid #333;
  font-size: 18px;
  font-family: inherit;
  padding: 15px 0;
  outline: none;
  transition: all 0.2s ease-in;
  background: transparent;
}
.form-control input:focus,
.form-control input:valid {
  border-bottom-color: #f19c79;
}
.form-control label {
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
}
.form-control input:focus + label,
.form-control input:valid + label {
  color: #f19c79;
  transform: translateY(-30px);
  font-size: 14px;
  transition: all 0.5s ease;
}

button {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 1px solid #f19c79;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  transition: 0.4s ease;
  background: transparent;
}
button:hover {
  box-shadow: inset 0 0 0 30px #f19c79, 1px 1px 3px #333;
  transform: translateX(4px);
  color: #eee;
}
button:active {
  transform: scale(0.95);
}
.videoform-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.your-picture {
  position: relative;
  margin-left: 70px;
}