<link rel="stylesheet" href="/stylesheets/delete.css" />
<link rel="stylesheet" href="/stylesheets/mainstyle.css" />
<div class='confirmation'>
    <p>Are you sure you want to delete your account?</p>
    <form action ="/users/delete" method="POST">
    <button class="delete">Delete</button>
    </form>
</div>