<link rel="stylesheet" href="./stylesheets/userprofile.css"/>
{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <img src="{{user.imageURL}}" alt="photo-user">
     <p>This is your profile page my friend! We are happy to see you back.</article></p>
     <div class ="edit">
     <a href="users/edit">Edit your profile</a>
     <a href ='/users/delete'>Delete your profile</a>
     </div>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}