<link rel="stylesheet" href="./stylesheets/userprofile.css"/>

{{#if user}}
    <h2>Welcome {{ user.username }}!</h2>
    <img src="{{user.imageURL}}" alt="photo-user" class="photouser">
     <p class="message">This is your profile page my friend ! We are happy to see you back.</article></p>
     <div class ="edit">
     <a href="users/edit" class="edit-link">Edit your profile</a>
     <a href ='/users/delete' class="delete-link">Delete your profile</a>
     </div>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}