<link rel="stylesheet" href="./stylesheets/userprofile.css"/>
{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <img src="{{user.imageURL}}" alt="photo-user">
     <p>This is your profile page my friend! We are happy to see you back.</article></p>
     <a href="/edit.hbs" class ="edit">Edit your profil</a>
     
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
